$section-padding: 3rem 1.5rem !default
$section-padding-medium: 9rem 1.5rem !default
$section-padding-large: 18rem 1.5rem !default

.section
  padding: $section-padding
  text-align: center

  &#is-venue
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("../assets/rancho-l86-venue.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: left 
    min-height: 500px

  &#is-accommodations
    background-color: #f1f1f1
    +desktop
      padding: 12px
      .column 
        padding: 5em 0
    #hotel-image 
      background-image: url("../assets/hotel-coral-marina.jpg")
      background-repeat: no-repeat
      background-size: cover
      background-position: left 
      min-height: 500px
  .question 
    padding: 2.5rem 25%
    @media screen and (max-width: $tablet )
      padding: 2rem 0
  .button 
    background-color: $steelblue

  &#is-faq
    .subtitle 
      color: $steelblue
      font-weight: 600
      margin: .25rem 1rem 1.25rem
    p
      color: #666
      font-weight: 500

  &#is-contact
    background-color: $nude
    i
      margin-bottom: .25em
    i, a
      color: $white
 
  &#is-seeyouthere
    background-image:  linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .5)), url("../assets/see-you-there.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    .title
      color: $nude

    
  // Responsiveness
  +desktop
    // Sizes
    &.is-medium
      padding: $section-padding-medium
    &.is-large
      padding: $section-padding-large

